<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WowXhrTest" parallel="none">
    <parameter name="url" value="http://localhost:3000/ng"/>
    <test name="chrome">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="io.github.sudharsan_selvaraj.amazon.*"/>
        </packages>
    </test>
</suite>